
  footer ul {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    margin:0;
    padding:0;
  }
  
  footer ul li {
    list-style:none;
    margin:0 5px;
    display: inline;
  }
  
  footer ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
  }
  
  footer ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
  }
  
  footer ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  footer ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  footer ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  footer ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }
  
  footer ul li:hover .fa {
    color:#fff;
  }
  
  footer ul li:hover span {
    color:#fff;
  }
  
  footer ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
  footer ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
  footer ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }
  
  footer ul li:hover:nth-child(2) a{
    background: #0077B5;
  }
  footer ul li:hover:nth-child(2) a:before{
    background: #097aa5;
  }
  footer ul li:hover:nth-child(2) a:after{
    background: #0077B5;
  }
  
  footer ul li:hover:nth-child(3) a{
    background: #4d4d4d;
  }
  footer ul li:hover:nth-child(3) a:before{
    background: #333333;
  }
  footer ul li:hover:nth-child(3) a:after{
    background: #3a3a3a;
  }
  
  footer ul li:hover:nth-child(4) a{
    background: #e4405f;
  }
  footer ul li:hover:nth-child(4) a:before{
    background: #d81c3f;
  }
  footer ul li:hover:nth-child(4) a:after{
    background: #e46880;
  }

  footer ul li:hover:nth-child(5) a{
    background: #000000;
  }
  footer ul li:hover:nth-child(5) a:before{
    background: #494949;
  }
  footer ul li:hover:nth-child(5) a:after{
    background: #000000;
  }