@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

.I-Like-to-animation {
  display: inline-block;
  margin: 10px 0px 0 10px;
  
}



.I-Like-to-animation .middle-letters,
.I-Like-to-animation .end-letters,
.I-Like-to-animation .alternate-middle-letters {
  display: inline-block;
  overflow: hidden;
}
.I-Like-to-animation .end-letters {
  color: #632C65;
}
.I-Like-to-animation .middle-letters,
.I-Like-to-animation .alternate-middle-letters {
  color: #4B384C;
}
.I-Like-to-animation .middle-letters {
  animation: I-Like-to-middle-letters-animation 5s infinite;
  animation-delay: -3s;
  max-width: 0;
}
.I-Like-to-animation .alternate-middle-letters {
  animation: I-Like-to-alternate-middle-letters-animation 5s infinite;
  animation-delay: -3s;
  max-width: 0;
}

@keyframes I-Like-to-middle-letters-animation {
  0% {
    max-width: 50px;
  }
  25% {
    max-width: 0;
  }
  75% {
    max-width: 0;
  }
  90% {
    max-width: 50px;
  }
  100% {
    max-width: 50px;
  }
}
@keyframes I-Like-to-alternate-middle-letters-animation {
  0% {
    max-width: 0;
  }
  25% {
    max-width: 0;
  }
  50% {
    max-width: 50px;
  }
  75% {
    max-width: 0;
  }
  100% {
    max-width: 0;
  }
}
